body{
    background-color: #0f4471;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #b3e3fa;
    align-items: center;
}


header {
    background-color: #1b3e90;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
   }

   h1{
    color: hsl(222, 100%, 95%);
    font-size: 36px;
    margin: 0;
}

.descrição-cabeçalho{
    color: #839cee;
    font-size: 18px;
    margin-top: 10px;
    gap: 15px;
}


nav {
    background-color: #166fbb;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #76bff0;
    border-radius: 15px;
}


div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

section {
    background-color: #166fbb;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

alunos.h1 {
    color: #b3e3fa;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}